@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Methods.js"></script>

<div class="jumbotron">
    <h1 class="top-heading-text">Let's Test Out Our Algorithms!</h1>
    <p class="top-heading-subtext">Below you'll find my methods created to solve a variety of coding challenges. 
    Originally written in C#, they have been translated into JavaScript for the purpose of this project.</p>
</div>

<!--ROW 1-->
<div class="row row-one">
    <div class="col-md-4 col-one">
        <h2>Greatest common divisor challenge.</h2>
        <p class="p-gcd-method">
            Write a function that returns the greatest common divisor of two numbers. 
        </p>
        <!--BEGIN FORM COL1-->
        <form class="form-col-one">
            <div class="form-group">
                <label for="gcd-label-one">Enter # 1:</label>
                <input type="number" id="gcd-number-one" class="form-control gcd-form-control-one" />
            </div>

            <div class="form-group">
                <label for="gcd-label-two">Enter # 2:</label>
                <input type="number" id="gcd-number-two" class="form-control gcd-form-control-two" />
            </div>

            <button type="submit" class="btn btn-danger btn-col-one" onclick="GCDMethod()">Submit</button>
            <!--having first "btn" in front of btn-danger gives the rounded corners/additional boilerplate formatting-->
        </form>
    </div>

    <!--COL 2 (ROW 1)-->
    <div class="col-md-4 col-two">
        <h2>Number Masking Method</h2>
        <p class="p-maskify-method">
            Write a function that obscures all but the final four digits of user input as #'s if there are more than 4 digits. (Like a credit card).    
        </p>
        <!--BEGIN FORM COL2-->
        <form class="form-col-two">
            <div class="form-group">
                <label for="maskify-label">Enter a series of digits to obscure.</label>
                <input type="number" id="maskify-input" class="form-control maskify-form-control" />
            </div>

            <button type="submit" class="btn btn-danger btn-col-two" onclick="MaskifyMethod()">Submit</button>
        </form>
    </div>
    
    <!--COL 3 (ROW 1)-->
    <div class="col-md-4 col-three">
        <h2>Palindrome Method</h2>
        <p class="p-palindrome-method">
            Write a function that tells you if the user input is a palindrome.
        </p>
        <!--BEGIN FORM COL3-->
        <form class="form-col-three">
            <div class="form-group">
                <label for="palindrome-label">Enter a sequence of characters.</label>
                <input type="text" id="palindrome-input" class="form-control palindrome-form-control" />
            </div>

            <button type="submit" class="btn btn-danger btn-col-three" onclick="PalindromeMethod()">Submit</button>
        </form>
    </div>
</div>
<!--END ROW 1-->

<!--BEGIN ROW 2-->
<div class="row row-two">
    <div class="col-md-4 col-four">
        <h2>
            The Collatz Conjecture. 
        </h2>
        <p class="p-collatz-method">
            Given a number N, if N is even perform N/2. Then if N is odd perform N * 3 + 1. Return the amount of steps it takes
            for N to = 1.
        </p>
        <!--BEGIN FORM COL4-->
        <form class="form-col-four">
            <div class="form-group">
                <label for="collatz-label">Enter a number greater than 0: </label>
                <input type="number" id="collatz-input" class="form-control collatz-form-control" />
            </div>

            <button type="submit" class="btn btn-danger btn-col-four" onclick="CollatzMethod()">Submit</button>
        </form>
    </div>
    <!--BEGIN COL 5-->
    <div class="col-md-4 col-five">
        <h2>
            Binary Number Equivalent.
        </h2>
        <p class="p-binary-method">
            Given a number base 10 whole number, return an array representing the number's binary (base 2) equivalent.
        </p>
        <!--BEGIN FORM COL5-->
        <form class="form-col-five">
            <div class="form-group">
                <label for="binary-label">Enter a whole number: </label>
                <input type="number" id="binary-input" class="form-control binary-form-control" />
            </div>

            <button type="submit" class="btn btn-danger btn-col-five" onclick="BinaryMethod()">Submit</button>
        </form>
    </div>
    <!--END COL 5-->
    <!--BEGIN COL 6-->
    <div class="col-md-4 col-six">
        <h2>
            Two Digit Multiple Method.
        </h2>
        <p class="p-two-digit-multiple-method">
            Enter a two digit number. Multiply the first digit by 1 and then increment by 1 until it matches the second digit. I.E. given
            35: 3 * 1 = 3, 3 * 2 = 6, 3 * 3 = 9, 3 * 4 = 12, 3 * 5 (target value of second digit) = 15.
        </p>
        <!--BEGIN FORM COL6-->
        <form class="form-col-six">
            <div class="form-group">
                <label for="two-digit-multiple-method">Enter a two digit positive number: </label>
                <input type="number" id="two-digit-multiple-input" class="form-control two-digit-multiple-form-control" />
            </div>


            <button type="submit" class="btn btn-danger btn-col-six" onclick="TwoDigitMultipleMethod()">Submit</button>
        </form>
    </div>
    <!--END COL6-->
</div>
<!--END ROW 2-->

<!--BEGIN ROW 3-->
<div class="row row-three">
    <!--BEGIN COL 7-->
    <div class="col-md-4 col-seven">
        <h2>
            Tetrahedral Method.
        </h2>
        <p class="p-tetrahedral-method">
            Given a number n, return the nth tetrahedral number.
        </p>
        <!--BEGIN FORM COL 7-->
        <form class="form-col-seven">
            <div class="form-group">
                <label for="tetrahedral-method">Enter a whole positive number: </label>
                <input type="number" id="tetrahedral-method-input" class="form-control tetrahedral-method-form-control" />
            </div>

            <button type="submit" class="btn btn-danger btn-col-seven" onclick="TetrahedralMethod()">Submit</button>
        </form>
    </div>
    <!--END COL 7-->

    <!--BEGIN COL 8-->
    <div class="col-md-4 col-eight">
        <h2>
            Circle Calculations Method.
        </h2>
        <p class="p-circle-calculations-method">
            Create two functions that return either the area or perimeter of a circle given the radius.
        </p>
        <!--BEGIN FORM COL 8-->
        <form class="form-col-eight">
            <div class="form-group">
                <label for="circle-calculations-method-area">Area calculation. Enter a radius: </label>
                <input type="number" id="circle-calculations-area-method-input" class="form-control circle-calculations-area-method-form-control" />
            </div>

            <button type="submit" class="btn btn-danger btn-one-col-eight" onclick="CircleCalculationsGetArea()">Submit</button>
            
            <div class="form-group">
                <label for="circle-calculations-method-perimeter">Perimeter calculation. Enter a radius: </label>
                <input type="number" id="circle-calculations-method-perimeter-input" class="form-control circle-calculations-perimeter-method-form-control" />
            </div>
            
            <button type="submit" class="btn btn-danger btn-two-col-eight" onclick="CircleCalculationsGetPerimeter()">Submit</button>
        </form>
    </div>
    <!--END COL 8-->

    <!--BEGIN COL 9-->
    <div class="col-md-4 col-nine">
        <h2>
            Triangular Number Sequence.
        </h2>
        <p class="p-triangular-method">
            Create a function that returns the number of dots given the triangular number of the sequence.
        </p>
        <!--BEGIN FORM COL 9-->
        <div class="form-group">
            <label for="triangular-method">Enter a triangular number: </label>
            <input type="number" id="triangular-method-input" class="form-control triangular-method-form-control"/>
        </div>

        <button type="submit" class="btn btn-danger btn-col-nine" onclick="TriangularMethod()">Submit</button>
    </div>
</div>
<!--END ROW 3-->

<!--BEGIN ROW 4-->
<div class="row row-four">
    <!--BEGIN COL 10-->
    <div class="col-md-4 col-ten">
        <h2>
            Convenience Store.
        </h2>
        <p class="p-convenience-store-method">
            Given a total amount of an item and an array representing the amount of change in your pocket,
            return whether you can pay for the item. Change is represented in an array in the order of quarters, dimes, nickels, pennies.
        </p>

        <!--BEGIN FORM COL 10-->
        <div class="form-group">
            <label for="convenience-store-method-label-one">Enter # of quarters: </label>
            <input type="number" id="convenience-store-method-input-one" class="form-control convenience-store-method-form-control-one" />
        </div>
        <div class="form-group">
            <label for="convenience-store-method-label-two">Enter # of dimes: </label>
            <input type="number" id="convenience-store-method-input-two" class="form-control convenience-store-method-form-control-two" />
        </div>
        <div class="form-group">
            <label for="convenience-store-method-label-three">Enter # of nickels: </label>
            <input type="number" id="convenience-store-method-input-three" class="form-control convenience-store-method-form-control-three" />
        </div>
        <div class="form-group">
            <label for="convenience-store-method-label-four">Enter # of pennies: </label>
            <input type="number" id="convenience-store-method-input-four" class="form-control convenience-store-method-form-control-four" />
        </div>
        <div class="form-group">
            <label for="convenience-store-method-label-five">Enter total amount: </label>
            <input type="number" id="convenience-store-method-input-five" class="form-control convenience-store-method-form-control-five" />
        </div>

        <button type="submit" class="btn btn-danger btn-col-ten" onclick="ConvenienceStoreMethod()">Submit</button>
    </div>
    <!--BEGIN COL 11-->
    <div class="col-md-4 col-eleven">
        <h2>
            Two Sum Method.
        </h2>
        <p class="p-two-sum-method">
            Given an array of integers and an integer 'target', return the indices of the array that add up to target. Separate array values by a comma.
        </p>

        <!--BEGIN FORM COL 11-->
        <div class="form-group">
            <label for="two-sum-method-label-one">Enter an array of integers: </label>
            <input type="text" id="two-sum-method-input-one" class="form-control two-sum-method-form-control-one" />
        </div>
        <div class="form-group">
            <label for="two-sum-method-label-two">Enter a target number: </label>
            <input type="number" id="two-sum-method-input-two" class="form-control two-sum-method-form-control-one" />
        </div>

        <button type="submit" class="btn btn-danger btn-col-eleven" onclick="TwoSumMethod()">Submit</button>
    </div>
</div>